{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "printWidth": 80,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "trailingComma": "es5"
}
